body { font-family: sans-serif
     ; font-size:90%
     ; font-size-adjust:none
     ; font-style:normal
     ; font-variant:normal
     ; font-weight:normal
     ; background-color: #eee;
     ; margin: 0
     ; padding: 0
     }
span.labelkey {
  color: #999;
  font-style: italic;
}
span.labelitem {
  white-space: nowrap;
  font-weight: normal;
  margin-right: 5px;
  padding: 2px;
  font-size: smaller;
}
span.labelvalue {
  color: #333;
  padding: 0 5px;
}
div.labels {
  text-align: right;
}

div.footerlinks {
  margin-top: 5px;
}
div.footer {
  clear: both;
  text-align: center;
  margin-top: 10px;
  font-size: smaller;
  color: #333366;
}

table.pastelist {
  border-collapse: collapse;
  border-bottom: 0
  color: black;
  width: 100%;
  background-color: white;
  border: 2px solid #ccc;
}

table.pastelist td {
  border-bottom: 1px dotted silver;
  padding: 2px
}


table.pastelist th {
  border-bottom: 1px solid black;
  text-align: left;
  font-size: smaller;
  background-color: #ccc;
}
pre.plaintext {
  margin: 5px;
  overflow: auto;
}

pre.sourceCode { overflow: auto; }

div.contentbox {
border: 2px solid #ccc;
background-color: white;
padding: 3px;
margin-bottom: 15px;
}

div.wrapper {
  margin: 15px;
}
div.toplinks {
  background-color: #336;
  padding: 10px 15px;
  margin: 0;
}
div.toplinks a {
  color: white;
  margin-right: 5px;
}
h1 {
   background-color: #003;
   padding: 10px;
   margin: 0;
}
h1 a {
   color: #336;
   height: 1em;
   font-size: 150%;
   font-family: sans-serif;
   font-weight: normal;
   text-decoration: none;
}

table.pastelist a {
  display: block; 
  color: #006;
  text-decoration: none;
}
table.pastelist a:hover {
  background-color: #ccc;
}

/*
table.pastelist a {
  display: block;
  text-align: center;
  text-decoration: none;
  background-color: white;
  border-bottom: 1px solid gray;
  border-top: 1px solid #eee;
  border-left: 1px solid #eee;
  border-right: 1px solid gray;
  margin: 2px;
}
table.pastelist a:hover {
  background-color: #cccccc;
  border-top: 1px solid #666;
  border-bottom: 1px solid #aaa;
  border-right: 1px solid #aaa;
  border-left: 1px solid #666;
}

table.pastelist a:active {
  background-color: #999;
  border-top: 1px solid #666;
  border-bottom: 1px solid #aaa;
  border-right: 1px solid #aaa;
  border-left: 1px solid #666;
}
*/

div.pasteheader {
  color: #333;
  background-color: #ccc;
  background-image: url(corner.png);
  background-repeat: no-repeat;
  padding: 0 5px;
}
div.pasteheader h2 {
  font-size: 1em;
  float: left;
  margin: 0 ;
}

div.entrylinks {
  padding-bottom: 5px;
  font-size: smaller;
  width: 100%;
}

div.entrylinks a {
  color: #333;
  text-decoration: none;
  margin-left: 10px;
}
div.entrylinks a:hover {
  text-decoration: underline;
}

input {
  border: 1px solid #999;
}

label {
  font-style: italic;
  color: #bbb;
  margin-right: 5px;
}
select {
  border: 1px solid #999;
}
textarea {
  border: 2px solid #ccc;
  width: 100%
}

div.tabsrow1 label , div.tabsrow2 label {
  margin-right: 20px;
}

div.tabsrow1 {
margin: 2px;
}
div.tabsrow2 {
margin: 2px;
}
input.imagebutton {
 color: white;
 /*background-image: url(/button.png);
 background-repeat: no-repeat;*/
 background-color: #333366;
 font-style: italic;
}
div.clearer { clear: both; }
span.leftmost { float: left }

td.linenos pre {
  color: #ccc;
  border-right: 1px solid #ccc;
  padding-right: 5px;
}
td.code pre {
  padding-left: 5px;
}
